* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%; /*10px / 16px (browser default) -> 1rem = 10px */
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 80vw;
    margin: auto;
}

h1 {
    font-weight: 400;
    font-size: 3rem;
}

.header {
    font-family: 'Bangers', cursive;
    text-align: center;
}

.header_main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: ". title title title instructions";
    justify-items: center;
    align-items: center;
    text-overflow: ellipsis;
    color: transparent
}

.header_main_title {
    grid-area: title;
    font-size: 12rem;
    background: -webkit-linear-gradient( red, blue);
    -webkit-background-clip: text;
    animation-name: moveInTop;
    animation-duration: 5s; 
}

.m {
    font-size: 15rem; /* FOR LETTER M IN TITLE h1 ELEMENT */
}

#instructions_link {
    grid-area: instructions;
    font-family: 'Bangers', cursive;
    justify-content: right;
}

.popup {
    text-decoration: none;
    text-align: center;
}

.game_state {
    display: grid;
    border-radius: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "round timer points";
    justify-content: center;
}

.points,
#timer,
.round,
#round_value,
#player_points,
#time_remaining {
    font-size: 2rem;
    font-family: 'Bangers', cursive;
}

.points {
    grid-area: points;
    justify-self: end;
    padding-right: 1rem;
}

#timer {
    grid-area: timer;
    margin: 0 auto;
}

.round {
    grid-area: round;
    justify-self: start;
    padding-left: 2.5rem;
}

.mathround_container {
    display: grid;
    justify-items: center;
    height: 40vh;
    width: 80vw;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "num1 operator num2 equals num3";                     
    gap: 1rem;
}

.gradient_border {
    width: 82vw;
    padding: 1rem;
    position: relative;
    background: linear-gradient(to right, red, blue);
    border-radius: 3rem;
  }
  
.mathround_main {
    background-color: white;
    border-radius: 2.5rem;
}

#num1,
#operator,
#num2,
#equals,
#num3 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 6rem;
}

#num1 {
    grid-area: num1;
}

#operator {
    grid-area: operator;
}

#num2 {
    grid-area: num2;
}

#equals {
    grid-area: equals;
    font-size: 8rem;
}

#num3 {
    grid-area: num3;
    position: relative;
}

.answer {
    text-align: center;
    border: none;
    height: 14vh;
    width: 14vw;
    font-size: 6rem;
    padding-right: 20px;
    outline: none;
    border: 5px solid;
    border-color: green;
    border-radius: 3rem;
}

.answer:after {
    content: '';
    width: 20px;
    height: 2px;
    background: black;
    opacity: 0;
    display: inline-block;
  }

/* REMOVES INCREMENT/DECREMENT FROM INPUT */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.start_container {
    display: flex;
    justify-content: center;
}

#start_button,
#newgame_button {
    font-size: 5rem;
    font-family: 'Bangers', cursive;
    border: none;
    background-color: white;
    animation-name: moveInBottom;
    animation-duration: 5s; 
}

.green_time {
    color: green;
}

.black_time {
    color: black;
}

.red_time {
    color: red;
}

.round_countdown {
    grid-area: num2;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 10rem;
    font-family: 'Bangers', cursive;
    color: green;
}

/********************************************************************/
/* INSTRUCTION POP UP STYLE */

#instructions{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 80%);
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    overflow: hidden;
}

#instructions_content {
    position: absolute;
    top: 50%;
    left: 50%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr );
    grid-template-areas: "title"
                         "rules"
                         "play"
                         "win"
                         "footer"
                         ;
    gap: 3rem;
    width: 75%;
    height: 50rem;
    background-color: white;
    transform: translate(-50%, -50%);
    border-radius: .5rem;
    overflow: hidden;
}

#instructions:target {
    opacity: 1;
    visibility: visible;
}

.instructions_header {
    grid-area: title;
    background-color: black;
    color: white;
    padding: .5rem 0 .5rem 2.5rem;
    font-family: 'Bangers', cursive;
    position: relative;
}
#instructions_header_heading {
    position: absolute;
    top: 25%;
}

#instructions_rules {
    grid-area: rules;
}
#instructions_play {
    grid-area: play;
}

#instructions_win {
grid-area: win;
}

#footer {
grid-area: footer;
background-color: black;
}

#instructions_rules h2,
#instructions_play h2, 
#instructions_win h2 {
    font-family: 'Bangers', cursive;
    font-size: 2rem;
    padding-left: 1rem;
}

#instructions_rules p,
#instructions_play p, 
#instructions_win p {
    font-size: 1.5rem;
    padding: 0 2rem 0 2rem;
}

#instructions_close {
    grid-area: title;
}

#instructions_close:link,
#instructions_close:visited {
    color: white;
    position: absolute;
    justify-self: end;
    align-self: center;
    padding-right: 2rem;
    font-size: 3.5rem;
    text-decoration: none;
    display: inline-block;
    transition: all .3s;
}

#instructions_close:hover {
    color: red;
}

.hidden {
    display: none;
}

/********************************************************************/

/* KEYFRAMES FOR ANIMATION */
@keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(10rem); }
    100% {
      opacity: 1;
      transform: translate(0rem); } }

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-10rem); }
    100% {
        opacity: 1;
        transform: translate(0); } }