* {
    /* background-color: azure; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%; /*10px / 16px (browser default) -> 1rem = 10px */
}

.container {
 width: 80vw;
 margin: auto;
}


h1 {
    font-weight: 400;
    font-size: 3rem;
}

body {
    font-family: 'Poppins', sans-serif;
}

.header {
    text-align: center;
}

.header_main-title {
    font-size: 6rem;
}

.game_state {
    display: grid;
    border: 1px solid black;
    border-radius: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "level timer points";
    justify-content: center;
}

.points,
#timer,
.level,
#level_value,
#player_points,
#time_remaining {
    font-size: 2rem;
}

.level {
    grid-area: level;
    justify-self: start;
    padding-left: 1rem;
}

#timer {
    grid-area: timer;
    margin: 0 auto;
}

.points {
    grid-area: points;
    justify-self: end;
    padding-right: 1rem;
    
}

.hidden {
    display: none;
}

.mathround_container {
    display: grid;
    justify-items: center;
    height: 40vh;
    width: 80vw;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "header header header header header"
                         "num1 operator num2 equals num3"
                         ". . start . ."
                         ;
    gap: 3rem;
}

#mathround_container_header {
    grid-area: header;
    height: 10vh;
}

#num1,
#operator,
#num2,
#equals,
#num3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    width: 15vw;
    border-radius: 10px;
    font-size: 6rem;
}

#num1 {

    grid-area: num1;
    background-color: white;
}

#operator {
    grid-area: operator;
    background-color: grey;
    color: white;

}

#num2 {
    grid-area: num2;
    background-color: white;

}

#equals {
    grid-area: equals;
    /* background-color: yellow; */
    font-size: 8rem;
}

#num3 {
    grid-area: num3;
    position: relative;
}

#text_cursor {
    position: absolute;
    width: 10rem;
    height: .5rem;
    background-color: black;
    left: auto;
    top: 90%;
    animation-name: blink;
    animation-duration: 700ms;
    animation-iteration-count: infinite;
    opacity: 1;
    display: hidden;
}

#text_cursor:focus + i {
    display: none;
}

.answer {
    text-align: center;
    border: none;
    height: 14vh;
    width: 14vw;
    font-size: 6rem;
    padding-right: 20px;
    outline: none;
}

.answer:after {
    content: '';
    width: 20px;
    height: 2px;
    background: black;
    opacity: 0;
    display: inline-block;
    animation: textCursor 1s linear infinite alternate;
  }

/* REMOVES INCREMENT/DECREMENT FROM INPUT */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.start_container {
    grid-area: start;
}

#start_button,
#newgame_button {
    width: 18rem;
    height: 9rem;
    font-size: 4rem;
    
}

.green_time {
    color: green;
}

.black_time {
    color: black;
}

.red_time {
    color: red;
}

#instructions{

    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 80%);
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

#instructions_content {
    position: absolute;
    top: 50%;
    left: 50%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr );
    grid-template-areas: "title"
                         "rules"
                         "play"
                         "win"
                         "footer"
                         ;
    gap: 3rem;
    width: 75%;
    height: 50rem;
    background-color: white;
    box-shadow: 0 2rem 4rem rgba(0,0,0 .2);
    transform: translate(-50%, -50%);
    border-radius: .5rem;
}

#instructions:target {
    opacity: 1;
    visibility: visible;
}

#instructions_header {
    grid-area: title;
    background-color: black;
    color: white;
    padding-left: 2rem;
}

#instructions_rules h2,
#instructions_play h2, 
#instructions_win h2 {
    font-size: 2rem;
    padding-left: 1rem;
}

#instructions_rules p,
#instructions_play p, 
#instructions_win p {
    font-size: 1.2rem;
    padding: 0 2rem 0 2rem;
}

#instructions_close {
    grid-area: title;
}

#instructions_close:link,
#instructions_close:visited {
    color: white;
    position: absolute;
    justify-self: end;
    align-self: center;
    padding-right: 2rem;
    font-size: 3.5rem;
    text-decoration: none;
    display: inline-block;
    transition: all .3s;
}

#instructions_close:hover {
    color: red;
}


#instructions_rules {
    grid-area: rules;
}
#instructions_play {
    grid-area: play;
}

#instructions_play {
grid-area: win
}

@keyframes blink {
    from { opacity: .75; }
    to { opacity: 0; }
}